<img src="{{car.image}}" width="300px">
<p>Car Make:{{car.make}}</p>
<p>Car Model:{{car.model}}</p>
<p>Manufacture Year:{{car.year}}</p>
<p>Car Type:{{car.type}}</p>
<p>Location:{{car.location}}</p>
<p>Tariff:</p>
<p>Base Price:{{car.tariff.bp}}</p>
<p>Price per hour:{{car.tariff.pph}}</p>
<p>Price per day:{{car.tariff.ppd}}</p>
