<div
  class="d-flex shadow-4 flex-wrap"
  style="background-color:white;margin-top:30px;margin-bottom:100px;margin-left:3%;margin-right:3%;"
>
<div class="table-responsive me-auto ms-auto">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">B.ID</th>
        <th scope="col">User</th>
        <th scope="col">Car</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
  {{#each books}}

      
        {{#if hasCompleted}}<tr class="table-success">
            {{else}}<tr class="table-danger">
                {{/if}}
          <td>{{_id}}</th>
          <td>{{user.firstname}}  {{user.lastname}}</td>
          <td>{{car.model}}</td>
          <td>{{start}}</td>
          <td>{{#if end}}{{end}}{{/if}}</td>
          <td>{{#if hasCompleted}}Payment done
            {{else}}
              {{#if end}}Pending Payment
              {{else}} Yet to return
              {{/if}}
            {{/if}}
          </td>
        </tr>
    
  {{else}}
    <p> No orders done</p>

  {{/each}}
</tbody>
</table>
</div>
</div>