<p>Booking ID:{{book._id}}</p>
<img src="{{book.car.image}}" width="300px">
<p>Staring Date:{{book.start}}</p>
<p>car name{{book.car.model}}</p>
<p>Car Type:{{book.car.type}}</p>
<p>Ending Date:{{book.end}}</p>
<p>Amount:{{amount}}</p>
<form action='/pay' method="POST">
    <input type="hidden" name="bid" value="{{book._id}}"/>
    <input type="hidden" name="amount" value="{{amount}}"/>
    <script 
    src="https://checkout.stripe.com/checkout.js" 
    data-key="{{StripePublishKey}}" 
    class="stripe-button" 
    data-amount="{{amount}}" 
    data-name="Vehicle Rental"
    data-description="${{amount}} for booking id {{book._id}}"
    data-image="/image/logo.png",
    >
    </script>
</form>
