{{#each errors}}
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{text}}
      </div>
    {{/each}}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{user.image}}" width="64px" height="64px">
            <p>{{user.name}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phone}}</p>
            <p>{{user.location}}</p>
        </div>
    </div>
</div>