<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{user.image}}" width="64px" height="64px">
            <p>{{user.name}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phone}}</p>
            <p>{{user.location}}</p>
        </div>
    </div>
</div>