{{#each success}}
  <div class="alert alert-success alert-dismissible fade show">
    <span type="button" class="close" data-mdb-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>{{text}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show">
    <span type="button" class="close" data-mdb-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>{{text}}
  </div>
{{/each}}

<div class="card shadow-4 ms-auto me-auto" style="width:300px;min-width:300px;">
  <img
    src="{{user.image}}"
    class="card-img-top ms-auto me-auto"
    alt="..."
    style="height:150px;width:150px;margin-top:30px;"
  />
  <div class="card-body">

    <ul
      class="list-group list-group-flush ms-auto me-auto"
      style="margin-top:30px;"
    >
      <li class="list-group-item" style="margin-left:0px;">{{user.firstname}}
        {{user.lastname}}</li>
      <li class="list-group-item" style="margin-left:0px;">{{user.phone}}</li>
      <li
        class="list-group-item"
        style="margin-left:0px;"
      >{{user.location}}</li>
    </ul>
    
  </div>
</div>
{{#if (isU user)}}
    <!--
    <form
      class="login-form"
      method="POST"
      action="/dispOrders"
      style="height:100px;"
    >
      <button
        type="submit"
        class="btn btn-primary btn me-auto ms-auto"
        style="margin-top: 20px;width:100px;"
      >My Orders</button>
    </form> -->
    <br><br><hr>
    <h1>My Orders:</h1>
    {{> myorders}}
    {{/if}}