<style>
  body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  font-family: "Roboto", sans-serif;
}
</style>
<div class="body">
    
<div class="login-page">  
    {{#each errors}}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{text}}
    </div>
    {{/each}}
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Enter Tariff for car</h3>
          </div>
        </div>
        <form class="login-form" method="POST" action="/image">
            <input type="hidden" name="carID" id="carID" value="{{id}}" />
            <input type="number" name="bp" id="bp" placeholder="Base Price" value="{{bp}}"/>
            <input type="number" name="pph" id="pph" placeholder="Price per hour" value="{{pph}}"/>
          <input type="number" name="ppd" id="ppd" placeholder="Price per day" value="{{ppd}}"/>
          <input type="number" name="ppw" id="ppw" placeholder="Price per week" value="{{ppw}}"/>
          <button>Submit</button>
        </form>
      </div>
    </div>
</div>
